.boxRows{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
  }

  .nav{
    background-color:#202020 ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:30%;
    padding:0.5rem;
    align-items: flex-start;
    
  }

  .nav ul{
    padding: 0;
    font-size: 3rem;
    margin:1rem;
  }

  .bio{
    background-color:#202020 ;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width:60%;
    padding:1rem;
    
   
    
  }
  .bio p{
    margin-top: 0;
  }

  .sidebar{
    background-color:#202020 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:8%;
    padding:1rem;
    align-items: flex-start;
    
  }