.item{
    width:100%;
    height:100%;
    background-color: aqua;
    align-content: center;
}

.masonryRows{
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-start;
    padding: 0;
    margin:0.78rem;
    width:70vw;
    margin:auto;
    text-align: center;
  }
  .masonryColumns{
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-wrap: wrap;
    overflow:scroll;
    max-height: 54vh;
    align-content:space-between;
    border-radius:5px;
  }

  .masonryColumns::-webkit-scrollbar{
    display:none;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
 
 
    text-align: center;
    width:100%;
    align-items: center;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 1 / 2 / 2 / 3; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }